# Xcode

# Only for MAC OS
.DS_Store
.Trashes

# Only for PBX warriors who had ‘*.pbxproj merge=union‘ to .gitattributes
.gitattributes

# Classic ignored files

build/

*.pbxuser
!default.pbxuser

*.mode1v3
!default.mode1v3

*.mode2v3
!default.mode2v3

*.perspectivev3
!default.perspectivev3

!default.xcworkspace

*.xccheckout
*.xcuserstate

xcuserdata/
profile

*.moved-aside

DerivedData/

.idea/

# Xib temp file
*.~.nib

# Vim file
.swp

# Three20 scripts
*.pyc
